@tailwind base;
@tailwind components;
html, body {
    @apply m-0 p-0 font-sans
}

*{
    box-sizing: border-box
}

.unseen{
    transform: translateY(-10px);
    transition: .5s;
    display: none;
}

.seen{
    transform: translateY(10px);
    transition: .5s;
    display: flex;
}

@tailwind utilities;


